<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Procedimentos</h1>
        <p> Escolha o procedimento desejado: </p>

        <div class="procedures-bg"> 
        
          <img src="" alt="Apresentação" class="procedures">
          <img src="images/pre-exame.png" alt="Pré-exame" class="procedures">
          <img src="images/acuidade.png" alt="Acuidade" class="procedures">
          <img src="images/biomicroscopia.png" alt="Biomicroscopia" class="procedures">
          <img src="images/refracao.png" alt="Refração" class="procedures">
          <img src="images/tonometria.png" alt="Tonometria" class="procedures">

        
        </div>
      
      </div>
  </div>
</turbo-frame>
