<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Procedimentos</h1>
        <p> Escolha o procedimento desejado: </p>

        <div class="procedures-bg"> 
        
          <img src="images/apresentacao.jpg" alt="Apresentação" class="procedures">
          <img src="images/pre-exame.jpg" alt="" class="procedures">
          <img src="images/apresentacao.jpg" alt="Apresentação" class="procedures">
          <img src="images/apresentacao.jpg" alt="Apresentação" class="procedures">
          <img src="images/apresentacao.jpg" alt="Apresentação" class="procedures">
          <img src="images/apresentacao.jpg" alt="Apresentação" class="procedures">

        
        </div>
      
      </div>
  </div>
</turbo-frame>
