<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Procedimentos</h1>
        <p> Escolha o procedimento desejado: </p>

        <div class="procedures-bg"> 
        
          <%= link_to image_tag("exames/apresentacao.png", alt: "Apresentação", class: "procedures"), apresentacao_procedures_path, remote: true %>


        </div>
      
      </div>
  </div>
</turbo-frame>
