<div class="page">
  <%= render 'shared/navbar' %>

  <div class="mini-circle" id="fullscreen-button">
    <%= image_tag "fullscreen.svg", alt: "Tela Cheia", class: "seta-fullscreen" %>
    <p> MAXIMIA </p>
  </div>

 
  
  <turbo-frame class="active-screen-default" id="active-screen">
    <div class="active-screen">

      <div class="main">

        <h1 class="comece"> Comece por aqui </h1>

        <p> Escolha um dos itens no menu ao lado para começar seu atendimento. </p>

      
      </div>

    </div>
  </turbo-frame>
</div>
