@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.wrapper {
    background-color: #592580;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container h1 {
    font-family: "lato", serif;
    font-weight: 900;
    font-size:80px;
    color: #98FF98;
}

.no-underline {
    text-decoration: none;
}

.logo img {
    margin-bottom: -30px;
}
