<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Apresentação </h1>
        <p> Aqui você entenderá um pouco mais sobre como tudo acontece: </p>

        <%= youtube_embed("OTzYZ26Ilzw") %>
      
      </div>
  </div>
</turbo-frame>
