<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    <div class="main">

        <h1 class="comece"> Nos ajude a melhorar!</h1>
        <p class="opine_h"> Sobre esta experiência </p>
        <p class="opine_p"> Este painel foi feito para fornecer um atendimento mais inclusivo. Queremos tornar cada vez mais essa experiência melhor. <br> O seu feedback é muito importante! <br> Opine abaixo livremente.  </p>
      
        <form onsubmit="return false;">

          <div class="form-group">
            <input type="text" id="opiniao" name="opiniao" required minlength="50">
          </div>  
          <button type="submit" class="submit-button"> Enviar Opinião </button>

        </form>        
        
      </div>
  </div>
  </div>
</turbo-frame>
