<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    <div class="main">
      <h1 class="comece"> Acuidade visual </h1>
      <p> Teste de capacidade visual </p>

      <%= youtube_embed("xrr1z3Mi5PM") %>

      <%= link_to procedures_path, remote: true do %>
        <%= image_tag asset_path("purple-arrow-back.svg"), class: "arrow-back" %>
      <% end %>
    </div>
  </div>
</turbo-frame>
