<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Acuidade visual </h1>
        <p> Teste de capacidade visual </p>

        <%= youtube_embed("xrr1z3Mi5PM") %><%= image_tag "arrow-back", class: "arrow-back", data: {
          action: 'click->menu#animateMenu',
          menu_target: "arrow"
        } %>
      
      </div>
  </div>
</turbo-frame>
