<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Apresentação </h1>
        <p> Primeiro contato e anamnese </p>

        <%= youtube_embed("OTzYZ26Ilzw") %>

        
      
      </div>
  </div>
</turbo-frame>
