<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Pré-exame </h1>
        <p> Preparação inicial do paciente </p>

        <%= youtube_embed("yA-rJpJCuNs") %>

        <%= link_to procedures_path, remote: true do %>
          <%= image_tag "purple-arrow-back", class: "purple-arrow-back" %>
        <% end %>
      
      </div>
  </div>
</turbo-frame>
