<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Refração </h1>
        <p> Medição do grau óptico </p>

        <%= youtube_embed("5sldIaj4M08") %>

      <%= link_to procedures_path, remote: true do %>
        <%= image_tag "purple-arrow-back", class: "purple-arrow-back" %>
      <% end %>
      
      </div>
  </div>
</turbo-frame>
