<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Refração </h1>
        <p> Medição do grau óptico </p>

        <%= youtube_embed("5sldIaj4M08") %>

        
      
      </div>
  </div>
</turbo-frame>
