<turbo-frame class="active-screen-default" id="active-screen">
  <div class="active-screen">
    
      <div class="main">

        <h1 class="comece"> Tonometria </h1>
        <p> Verificação da pressão intraocular </p>

        <%= youtube_embed("pjWcjMLh8Jk") %>

        
      
      </div>
  </div>
</turbo-frame>
