@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/* =========================
   Variáveis CSS
========================= */
:root {
  --menu-width: 250px;
  --menu-width-shrunk: 80px;
  --menu-bg-color: #592580;
  --text-color: #fff;
  --transition-time: 0.3s;
}

/* =========================
   Estrutura Base do Menu
========================= */
[data-controller="menu"] {
  position: relative;
}

.menu {
  width: var(--menu-width);
  height: 100vh;
  background-color: var(--menu-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

.container-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

/* =========================
   Componentes do Menu
========================= */
/* Logo */
.logo-menu {
  width: 150px;
  margin: 40px 0;
}

/* Logo Reduzida */
.logo-reduzida {
  width: 53px;
  height: auto;
  position: absolute;
  left: 31.5px;
  top: 52px;
  z-index: 10000;
}

.logo-reduzida-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--menu-bg-color);
  position: absolute;
  left: -33px;
  top: 25px;
  z-index: 999;
}

/* Itens do Menu */
.menu ul {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  font-size: 16px;
  font-weight: 800;
  position: relative;
  transition: opacity var(--transition-time) ease-in-out;
}

.menu .links {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: inherit;
}

.menu-text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: var(--text-color);
  transition: opacity var(--transition-time) ease-out, height var(--transition-time) ease-out;
  opacity: 1;
  height: auto;
  font-size: 20px;
}

.menu-text::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: var(--menu-bg-color);
  transition: width 0.2s ease-in-out;
  z-index: 1;
}

/* Ícones */
.icon {
  width: 24px;
  transition: filter var(--transition-time) ease, opacity var(--transition-time) ease;
  opacity: 1;
}

/* Menu Hamburger */
.menu-hamburger {
  width: 30px;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 50px;
}

/* Setas */
.arrow-container {
  display: flex;
  width: 100%;
  height: 200px;
  position: relative;
}

.arrow-back,
.arrow-forward {
  position: absolute;
  cursor: pointer;
  transition: all var(--transition-time) ease;
  width: 35px;
  height: 35px;
  opacity: 1;
  z-index: 10001;
}

.arrow-back {
  top: 80px;
  right: 20px;
}

.arrow-forward {
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

/* =========================
   Estados do Menu
========================= */
.menu.shrunk li,
.menu.hide-menu li {
  justify-content: flex-start;
}

.menu.shrunk .menu-text::after,
.menu.hide-menu .menu-text::after {
  width: 100%;
}

.menu.shrunk .arrow-back.center-arrow,
.menu.hide-menu .arrow-back.center-arrow {
  left: 50%;
  transform: translateX(-50%);
}

.menu.icons-visible ul {
  align-items: center;
}

.menu.icons-visible li {
  justify-content: center;
  align-items: center;
}

.menu.icons-visible .icon {
  margin-right: 0;
  margin-top: 2px;
}

.menu.hide-menu {
  overflow: hidden;
}

.menu:not(.shrunk):not(.hide-menu):not(.icons-visible) li {
  justify-content: flex-start;
}

.menu:not(.icons-visible) ul {
  align-items: flex-start !important;
}

/* =========================
   Classes Utilitárias
========================= */
.hidden {
  display: none;
}

.green {
  color: #98FF98;
}

.menu-text.hide-text {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.menu-text.hide-text.hide-text-hidden {
  display: none;
}

/* =========================
   Animações
========================= */
/* Animações de Logo */
@keyframes clip-logo {
  from { clip-path: inset(0 0 0 0); transform: translateX(0px); }
  to { clip-path: inset(0 calc(100% - 12px) 0 0); transform: translateX(69px); }
}

@keyframes reverse-clip-logo {
  from { clip-path: inset(0 calc(100% - 12px) 0 0); transform: translateX(69px); }
  to { clip-path: inset(0 0 0 0); transform: translateX(0px); }
}

@keyframes pulse-logo-reduzida {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes fade-out-logo-reduzida {
  to { opacity: 0; }
}

@keyframes shrink-circle-logo-reduzida {
  to { transform: scale(0); }
}

/* Animações de Ícones */
@keyframes icon-reappear {
  from { opacity: 0; transform: scale(0.5); }
  to { opacity: 1; transform: scale(1); }
}

/* Animações de Menu */
@keyframes expand-shrink {
  0% { width: var(--menu-width); }
  20% { width: calc(var(--menu-width) + 10px); }
  100% { width: var(--menu-width-shrunk); }
}

@keyframes expand-from-reduced {
  0% { width: var(--menu-width-shrunk);
  }
  100% { 
    width: var(--menu-width);
  }
}

@keyframes shrink-to-zero {
  0% { width: var(--menu-width-shrunk); }
  20% { width: 90px; }
  100% { width: 0px; }
}

@keyframes reverse-expand-menu {
  0% { width: 0; opacity: 0; }
  100% { width: var(--menu-width); opacity: 1; }
}

@keyframes reverse-expand-menu-hamburger {
  0% { width: 0px; }
  100% { width: var(--menu-width); }
}

@keyframes hide-menu-vertical {
  0% { transform: translateX(0); width: 100%; }
  100% { transform: translateX(-100%); width: 0; }
}

@keyframes reverse-expand-animation-vertical {
  0% { transform: translateX(-100%); width: 0; }
  100% { transform: translateX(0); width: 100%; }
}

/* Classes de Animação */
.clipped-logo {
  animation: clip-logo 1s forwards;
  overflow: hidden;
  display: inline-block;
}

.unclipped-logo-animation {
  animation: reverse-clip-logo 0.6s forwards;
}

.first-animation {
  animation: expand-shrink 1s forwards;
}

.hide-menu {
  animation: shrink-to-zero 1s forwards;
}

.reverse-expand-animation-hamburger {
  animation: reverse-expand-menu-hamburger 0.6s forwards;
}

.hide-menu-vertical {
  animation: hide-menu-vertical 0.5s forwards !important;
}

.reverse-expand-animation-vertical {
  animation: reverse-expand-animation-vertical 0.5s forwards !important;
}

.logo-reduzida.pulse-animation-logo-reduzida {
  animation: pulse-logo-reduzida .8s ease-in-out forwards;
}

.logo-reduzida.fade-out-logo-reduzida-animation {
  animation: fade-out-logo-reduzida 0.2s forwards;
}

.logo-reduzida-circle.shrink-circle-logo-reduzida-animation {
  animation: shrink-circle-logo-reduzida 0.8s forwards;
}