.procedures-bg {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: 909px;
    height: 547px;
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 20px;
}

.procedures {
    width: 248px;
    height: 150px;
}