.procedures-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 909px;
    height: 547px;
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 40px 20px;
}

.procedures {
    width: calc(248px * 0.8);  /* 198.4px */
    height: calc(150px * 0.8); /* 120px */
}